# Visual Studio
.vs/
*.vcxproj.user
*.VC.db
*.sdf
*.opensdf

# Build output
Debug/
Release/
x64/
x86/
*.obj
*.pdb
*.ilk
*.exe
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OS i editor fajlovi
*.DS_Store
Thumbs.db

# Backup/temp
*.tmp
*.bak
*~
